---
import Layout from '../layouts/Layout.astro';
import downArrow from '../icons/down-arrow.svg';
import Island from '../components/Island.astro';
import Abandon from '../components/Abandon.astro';
import Confront from '../components/Confront.astro';
---

<Layout title="Welcome to Astro.">
    <div id="scroller" class="h-screen snap-y snap-mandatory overflow-y-scroll bg-stone-900 transition-all duration-1000 ease-in">
        <div class="h-screen snap-center flex flex-col justify-between">
            <div class="flex items-center justify-center flex-col grow text-center">
                <h1 class="font-serif text-8xl text-white">THE <span class="hover:text-red-700 transition-colors">REVENANT</span> DIGITAL PROJECT</h1>
                <h2 id="quote" class="font-serif text-4xl text-gray-400 transition-opacity duration-1000 italic">I ain't afraid of dying anymore. I done it already. - Hugh Glass</h2>
                <h3 class="text-3xl text-gray-400">By: Evan Kim</h3>
            </div>
            <div class="flex items-center justify-center pb-8">
                <img id="arrow" src={downArrow.src} class="animate-bounce transition-opacity opacity-0 duration-1000" alt="down arrow"/>
            </div>
        </div>
        <Island />
        <Abandon />
        <Confront />
    </div>

<script>
let quote = document.getElementById("quote");

const revenantQuotes = [
  "As long as you can still grab a breath, you fight. You breathe... keep breathing. - Hugh Glass",
  "I'll find them. And when I do, they'll know my name. - Hugh Glass",
  "The land is indifferent. It doesn't care if you live or die. - Hugh Glass",
  "Every step is a victory. Every breath a triumph. - Hugh Glass",
  "I'm not a man anymore. I'm something else. Something born of the wilderness. - Hugh Glass",
  "I've seen things that would make a man's soul wither. - Hugh Glass",
  "Revenge is a fire that burns inside me. It's the only thing that keeps me alive. - Hugh Glass",
  "I'll crawl if I have to. But I'll find them. - Hugh Glass",
  "I've been through hell and back. I'm not afraid of anything. - Hugh Glass",
  "The only thing stronger than a man's will is a man's hatred. - Hugh Glass",
  "I'm not going to let them take my life. Not without a fight. - Hugh Glass",
  "I'm going to make them pay for what they did to me. - Hugh Glass",
  "I'm going to survive this. And when I do, I'm going to get my revenge. - Hugh Glass",
  "I'm going to be the one to kill them. Not some Pawnee warrior. - Hugh Glass",
  "I'm going to make sure they never forget my name. - Hugh Glass"
];


// Get rid of this if nonsense
if (quote) {
    setInterval(() => {
        let randomQuote = revenantQuotes[Math.floor(Math.random() * revenantQuotes.length)];
        quote.style.opacity = "0";
        setTimeout(() => {
            quote.innerHTML = randomQuote;
            quote.style.opacity = "1";
        }, 1000);
               
    }, 4000);
}

setTimeout(() => {
    let arrow = document.getElementById("arrow");
    arrow.style.opacity = "1";
}, 2000);

const options = {
  threshold: 1,
};

let scroller = document.getElementById("scroller");
const intersectionCallback = (entries: IntersectionObserverEntry[]) => {
  entries.forEach((entry: IntersectionObserverEntry) => {
    if (entry.isIntersecting) {
      let elem = entry.target;
        if (elem.id === "island") {
            scroller.classList.remove("bg-stone-900");
            // If time maybe transition to gradient
            // scroller.classList.add("bg-gradient-to-r", "from-red-500", "to-orange-600");
            scroller.classList.add("bg-red-500");
        }
    }
  });
};



const observer = new IntersectionObserver(intersectionCallback, options);

const target = document.getElementById("island");
if (target) {
    observer.observe(target);
    
}
</script>
