---
import Layout from '../layouts/Layout.astro';
import downArrow from '../icons/down-arrow.svg';
import Bear from '../components/Bear.astro';
import Abandon from '../components/Abandon.astro';
import Confront from '../components/Confront.astro';
import Loading from '../components/Loading.astro';
import ThankYou from '../components/ThankYou.astro';
import Toast from  '../components/Toast.astro';
---

<Layout title="The Revenant">
    <Loading />

    <Toast />

    <div id="scroller" class="invisible h-screen snap-y snap-mandatory overflow-y-scroll bg-stone-900 transition-all duration-1000 ease-in">
        <div id="hero" class="h-screen snap-center flex flex-col justify-between">
            <div class="flex items-center justify-center flex-col grow text-center">
                <h1 class="font-serif text-8xl text-white">THE <span class="text-red-700 hover:text-red-600 transition-colors">REVENANT</span> DIGITAL PROJECT</h1>
                <h2 id="quote" class="font-serif text-4xl text-gray-400 transition-opacity duration-2000 italic">I ain't afraid of dying anymore. I done it already. - Hugh Glass</h2>
                <h3 class="text-3xl text-gray-400">By: Evan Kim</h3>
            </div>
            <div class="flex items-center justify-center pb-8">
                <img id="arrow" src={downArrow.src} class="animate-bounce transition-opacity opacity-0 duration-1000" alt="down arrow"/>
            </div>
        </div>
        <Bear />
        <Abandon />
        <Confront />
        <ThankYou />
    </div>

<script>
import { loadingManager } from '../utils/loadingManager';
if (window.innerWidth < 768) {
    alert("This project is best viewed on a desktop browser. THINGS WILL BE BROKEN");
}

addEventListener("resize", () => {
    alert("Resizing is not implemented. THINGS WILL BE BROKEN");
});

let toast = document.getElementById("toast");

function createAudio(url: string) {
    const audio_element = new Audio(url);
    audio_element.loop = true;
    return audio_element;
}
const audio: { [key: string]: HTMLAudioElement } = {
    hero: createAudio("hero.ogg"),
    bear: createAudio("bear.ogg"),
    abandon: createAudio("abandon.ogg"),
    confront: createAudio("confront.ogg"),
    thank_you: createAudio("thank_you.ogg"),
};

let scroller = document.getElementById("scroller");
if (scroller && toast) {

let loading = document.getElementById("loading");
let loading_icon = document.getElementById("loading_icon");
let loading_text = document.getElementById("loading_text");

if (loading && loading_text && loading_icon) {
    loadingManager.onProgress = function ( _, itemsLoaded, itemsTotal ) {
        loading_text.textContent = 'Loaded ' + itemsLoaded + ' of ' + itemsTotal + ' files.';
    };
    loadingManager.onLoad = function ( ) {
        loading_text.textContent = 'Press to Start';
        loading_icon.classList.add("hidden");
        loading.onclick = () => {
            audio.hero.play();
            
            loading.classList.add("hidden");
            scroller.classList.remove("invisible");
        };
    };
}
// This is kinda gimicky
let quote = document.getElementById("quote");
const revenantQuotes = [
  "As long as you can still grab a breath, you fight. You breathe... keep breathing. - Hugh Glass",
  "I'll find them. And when I do, they'll know my name. - Hugh Glass",
  "The land is indifferent. It doesn't care if you live or die. - Hugh Glass",
  "Every step is a victory. Every breath a triumph. - Hugh Glass",
  "I'm not a man anymore. I'm something else. Something born of the wilderness. - Hugh Glass",
  "I've seen things that would make a man's soul wither. - Hugh Glass",
  "Revenge is a fire that burns inside me. It's the only thing that keeps me alive. - Hugh Glass",
  "I'll crawl if I have to. But I'll find them. - Hugh Glass",
  "I've been through hell and back. I'm not afraid of anything. - Hugh Glass",
  "The only thing stronger than a man's will is a man's hatred. - Hugh Glass",
  "I'm not going to let them take my life. Not without a fight. - Hugh Glass",
  "I'm going to make them pay for what they did to me. - Hugh Glass",
  "I'm going to survive this. And when I do, I'm going to get my revenge. - Hugh Glass",
  "I'm going to be the one to kill them. Not some Pawnee warrior. - Hugh Glass",
  "I'm going to make sure they never forget my name. - Hugh Glass"
];


// Get rid of this if nonsense
if (quote) {
    setInterval(() => {
        let randomQuote = revenantQuotes[Math.floor(Math.random() * revenantQuotes.length)];
        quote.style.opacity = "0";
        setTimeout(() => {
            quote.style.opacity = "1";
            quote.innerHTML = randomQuote;
        }, 2000);
               
    }, 6000);
}

setTimeout(() => {
    let arrow = document.getElementById("arrow");
    if (arrow)
    { 
        arrow.style.opacity = "1";
    }
}, 3000);

const options = {
  threshold: 1,
};



const colors: { [key: string]: string } = {
  hero: "bg-stone-900",
  bear: "bg-zinc-800",
  abandon: "bg-zinc-800",
  confront: "bg-zinc-800",
  thank_you: "bg-zinc-800",
};

// Trash implementation

let dismissed = false;
const intersectionCallback = (entries: IntersectionObserverEntry[]) => {
  entries.forEach((entry) => {
    if (entry.isIntersecting) {
      Object.values(colors).forEach((color) => scroller.classList.remove(color));
      Object.values(audio).forEach((audio) => audio.pause());
    const sectionId = entry.target.id;
                
    // Figure out how to do this better
    // This way is trash
    if (sectionId !== "hero" && !dismissed) {
        setTimeout(() => {
            toast.style.opacity = "1";
            addEventListener("mousedown", () => {
                toast.style.opacity = "0";
                dismissed = true;
            });
        }, 3000);

    }
    else {
        toast.style.opacity = "0";
    }
      

    const colorClass = colors[sectionId];
      const playAudio = audio[sectionId];

    if (playAudio) {
        playAudio.play();
    }
      if (colorClass) {
        scroller.classList.add(colorClass);
      }
    }
  });
};


const observer = new IntersectionObserver(intersectionCallback, options);

document.querySelectorAll('#hero, #bear, #confront, #abandon, #thank_you').forEach((section) => {
  observer.observe(section);
});
}
</script>
